#account-icon ul {
    display: none;
  }
  
  #account-icon:hover ul {
    display: block;
  }

  #account-icon ul li {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    list-style: none;
  }
    
  #account-icon ul li {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
  }
  