body{
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

.container{
  background: url("./images/join\ now\ background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

.navbar1{
  /* position: fixed; */
  width: 100%;
  height: 15%;
  margin: auto;
  /* padding: 0px 0px; */
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  text-align: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 99;
}


.navbar1 ul li{
  list-style: none;
  display: inline-block;
  /* margin: 40px; */
  margin-left: 60px;
  /* margin-right: 10px; */
  position: relative;
  text-align: center;
  transition: 0.5s;
}

.navbar1 ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar1 ul li::after{
  content: '';
  height: 2px;
  width: 0%;
  background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.navbar1 ul li:hover::after{
  width: 100%;
}

.btn-join{
  position: relative;
  border: none;
  color: #ffffff;
  width: 90%;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 12px;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  margin: 20px;
}

.btn-join:hover{
  animation: animation 8s linear infinite;
  border: none;    
}

@keyframes animation{
  0%{ background-position: 0%; }
  100% { background-position: 400%; }
}

.btn-join:before{
  content: " ";
  position: absolute;
  top: -5px;
  left: -5x;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.btn-join:hover::before{
  filter: blur(30px);
}

.btn-join a{
  text-decoration: none;
  color: white;
}
#form {
  width: 350px;
  margin: 2vh auto 0 auto;
  padding: 20px;
  background: linear-gradient(90deg, rgba(63,94,251,1), rgba(252,70,107,1) 250%);
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

#form h1 {
  color: #ffffff;
  text-align: center;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
border: 1px solid #ffffff;
border-radius: 25px;
display: block;
font-size: 12px;
padding: 10px;
width: 100%;
color: white;
background: transparent;
}

::placeholder{
  color: #ffffff;
  opacity: 0.5;
  z-index: 1;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

h4{
  text-align: center;
  color: #ffffff;
}

h4 a{
  color: black;
}

.input-control label{
  color: #ffffff;
  padding: 3px;
}